#imageslider{
    width: 100%;
    height: 500px;
    background-color: azure;
    overflow: hidden;
}

#my-slide-element{
    width: 100% !important;
    height: 550px !important;
}

#my-slide-element img{
    width: 100%;
    height: 550px;
}