#imagebox{
    width: 1050px;
    height: 250px;
    background-color: azure;
}

.slick-prev::before, .slick-next::before{ 
    font-family: 'slick';
        font-size: 40px;
        line-height: 1;
        opacity: .75;
        color: #000000;
        -webkit-font-smoothing: antialiased;
}

#next, #prev{
    position: absolute;
    z-index: 2;
    top: 40%;
}
#prev{
    left: 98%;
}
#next{
    left: 0%;
}

.slick-prev::before, .slick-next::before{
    content: ''!important;
}





#imagebox #imageslider{
    width: 1050px;
    height: 250px;
    background-color: pink;
    overflow: hidden;
}

#imagebox #my-slide-element{
    margin-top: 10px;
    width: 250px !important;
    height: 250px !important;
    position: relative;
}

#imagebox #my-slide-element img{
    width: 230px;
    height: 230px;
    border-radius: 30%;
    cursor: pointer;
}

#imagebox #my-slide-element img:hover{
    opacity: 0.7;
}

#imagebox #next{
    left: -3%;
}

.dbtn{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    border: none;
    background-color: blueviolet;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
}

.dbtn:hover{
    background-color: violet;
}

.nbtn{
    display: none;
}