#App{
  width: 700px;
  height: 700px;
  margin: 0 auto;
  background-color: blueviolet;
  position: relative;
  border: 15px solid blueviolet;
  border-radius: 20% 20% 0 0;
  overflow: hidden;
}

ul{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
}

.btn{
  width: 150px;
  height: 150px;
  position: fixed;
  bottom: 5%;
  left: 5%;
  border-radius: 50%;
  background-color: blueviolet;
  font-size: 100px;
  color: white;
  border: none;
  font-weight: bold;
}

.btn:hover{
  background-color: violet;
}

#txt{
  position: fixed;
  bottom: 27%;
  left: 4%;
  font-size: 50px;
  font-weight: bold;
  color: violet;
}